<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>search</key>
	<dict>
		<key>tags</key>
		<dict>
			<key>method</key>
			<string>galleries.gobject.select</string>
			<key>params</key>
			<dict>
				<key>term</key>
				<string></string>
				<key>mode</key>
				<string>tags</string>
				<key>orderby</key>
				<string>rank desc,dt_created desc</string>
				<key>extras</key>
				<string>preview_file</string>
			</dict>
		</dict>
		<key>text</key>
		<dict>
			<key>method</key>
			<string>galleries.gobject.select</string>
			<key>params</key>
			<dict>
				<key>term</key>
				<string></string>
				<key>mode</key>
				<string>text</string>
				<key>orderby</key>
				<string>rank desc,dt_created desc</string>
				<key>extras</key>
				<string>preview_file</string>
			</dict>
		</dict>
		<key>camera</key>
		<dict>
			<key>method</key>
			<string>galleries.gobject.select</string>
			<key>params</key>
			<dict>
				<key>term</key>
				<string>camera_id:</string>
				<key>orderby</key>
				<string>rank desc,dt_created desc</string>
				<key>extras</key>
				<string>preview_file</string>
			</dict>
		</dict>
	</dict>
	<key>my</key>
	<dict>
		<key>albums</key>
		<dict>
			<key>method</key>
			<string>galleries.gallery.select</string>
			<key>params</key>
			<dict>
				<key>term</key>
				<string>scope:my</string>
				<key>orderby</key>
				<string>rate desc, dt_lastupdated desc</string>
				<key>extras</key>
				<string>preview_file</string>
			</dict>
		</dict>
		<key>photos</key>
		<dict>
			<key>method</key>
			<string>galleries.gobject.select</string>
			<key>params</key>
			<dict>
				<key>term</key>
				<string>scope:my</string>
				<key>orderby</key>
				<string>rate desc, dt_created desc</string>
			</dict>
		</dict>
		<key>photosOfAlbum</key>
		<dict>
			<key>method</key>
			<string>galleries.gobject.select</string>
			<key>params</key>
			<dict>
				<key>term</key>
				<string>gallery_id:</string>
				<key>orderby</key>
				<string>dt_lastupdated desc</string>
				<key>extras</key>
				<string>preview_file</string>
			</dict>
		</dict>
		<key>circle</key>
		<dict>
			<key>method</key>
			<string>accounts.user.select</string>
			<key>params</key>
			<dict>
				<key>term</key>
				<string>is_my_contact:1</string>
				<key>orderby</key>
				<string>dt_added_to_contacts desc</string>
			</dict>
		</dict>
	</dict>
	<key>interesting</key>
	<dict>
		<key>method</key>
		<string>galleries.gobject.select</string>
		<key>params</key>
		<dict>
			<key>term</key>
			<string>is_interesting:1</string>
			<key>orderby</key>
			<string>dt_created desc</string>
			<key>extras</key>
			<string>preview_file</string>
		</dict>
	</dict>
	<key>top</key>
	<dict>
		<key>week</key>
		<dict>
			<key>method</key>
			<string>galleries.gobject.select</string>
			<key>params</key>
			<dict>
				<key>term</key>
				<string>dt_created:lastweek rate:&gt;0</string>
				<key>orderby</key>
				<string>rank desc,dt_created desc</string>
				<key>extras</key>
				<string>preview_file</string>
			</dict>
		</dict>
		<key>month</key>
		<dict>
			<key>method</key>
			<string>galleries.gobject.select</string>
			<key>params</key>
			<dict>
				<key>term</key>
				<string>dt_created:lastmonth rate:&gt;0</string>
				<key>orderby</key>
				<string>rank desc,dt_created desc</string>
				<key>extras</key>
				<string>preview_file</string>
			</dict>
		</dict>
		<key>year</key>
		<dict>
			<key>method</key>
			<string>galleries.gobject.select</string>
			<key>params</key>
			<dict>
				<key>term</key>
				<string>dt_created:lastyear rate:&gt;0</string>
				<key>orderby</key>
				<string>rank desc,dt_created desc</string>
				<key>extras</key>
				<string>preview_file</string>
			</dict>
		</dict>
	</dict>
	<key>new</key>
	<dict>
		<key>day</key>
		<dict>
			<key>method</key>
			<string>galleries.gobject.select</string>
			<key>params</key>
			<dict>
				<key>term</key>
				<string>dt_created:lastday</string>
				<key>orderby</key>
				<string>rank desc,dt_created desc</string>
				<key>extras</key>
				<string>preview_file</string>
			</dict>
		</dict>
		<key>week</key>
		<dict>
			<key>method</key>
			<string>galleries.gobject.select</string>
			<key>params</key>
			<dict>
				<key>term</key>
				<string>dt_created:lastweek</string>
				<key>orderby</key>
				<string>rank desc,dt_created desc</string>
				<key>extras</key>
				<string>preview_file</string>
			</dict>
		</dict>
		<key>month</key>
		<dict>
			<key>method</key>
			<string>galleries.gobject.select</string>
			<key>params</key>
			<dict>
				<key>term</key>
				<string>dt_created:lastmonth</string>
				<key>orderby</key>
				<string>rank desc,dt_created desc</string>
				<key>extras</key>
				<string>preview_file</string>
			</dict>
		</dict>
	</dict>
	<key>commented</key>
	<dict>
		<key>week</key>
		<dict>
			<key>method</key>
			<string>galleries.gobject.select</string>
			<key>params</key>
			<dict>
				<key>term</key>
				<string>cperiod:lastweek</string>
				<key>orderby</key>
				<string>cperiod_comment_cnt desc,dt_lastcomment desc</string>
				<key>extras</key>
				<string>preview_file</string>
			</dict>
		</dict>
		<key>month</key>
		<dict>
			<key>method</key>
			<string>galleries.gobject.select</string>
			<key>params</key>
			<dict>
				<key>term</key>
				<string>cperiod:lastmonth</string>
				<key>orderby</key>
				<string>cperiod_comment_cnt desc,dt_lastcomment desc</string>
				<key>extras</key>
				<string>preview_file</string>
			</dict>
		</dict>
		<key>year</key>
		<dict>
			<key>method</key>
			<string>galleries.gobject.select</string>
			<key>params</key>
			<dict>
				<key>term</key>
				<string>cperiod:lastyear</string>
				<key>orderby</key>
				<string>cperiod_comment_cnt desc,dt_lastcomment desc</string>
				<key>extras</key>
				<string>preview_file</string>
			</dict>
		</dict>
	</dict>
	<key>user</key>
	<dict>
		<key>public</key>
		<dict>
			<key>method</key>
			<string>accounts.user.getPublicData</string>
			<key>params</key>
			<dict>
				<key>columns</key>
				<string>base_hostname,biography,city,first_name,last_name, login,original_photo_id, avatar_file</string>
			</dict>
		</dict>
	</dict>
	<key>upload</key>
	<dict>
		<key>method</key>
		<string>misc.file.prepareUpload</string>
		<key>params</key>
		<dict>
			<key>file_name</key>
			<string></string>
			<key>file_size</key>
			<string></string>
			<key>chunk_quantity</key>
			<string>1</string>
		</dict>
	</dict>
</dict>
</plist>
